# dependencies - Barcha papkalardagi node_modules ni yopamiz
node_modules/
**/node_modules/
.pnp
.pnp.*
.yarn/*

# testing
/coverage

# next.js
.next/
**/ .next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem
*.log
.vercel
.turbo

# env files - BU JUDA MUHIM (Parollar chiqib ketmasligi uchun)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# typescript
*.tsbuildinfo
next-env.d.ts